div.search-results ul {
    list-style: none;
    padding-left: 0;
    max-height: 450px;
    overflow-y: auto;
  }
  
  div.search-results ul li {
    padding: 5px;
    cursor: pointer;
  }
  
  div.search-results ul li:hover {
    background-color: #f0f0f0;
  }
  
  div.search-results a.osm-link {
    display: none;
  }
  
  div.search-results ul li:last-child {
    display: none;
  }

  /* div.search-results form {
    color: 'red';
  } */