div.search-results ul {
    list-style: none;
    padding-left: 0;
    max-height: 110px;
    overflow-y: auto;
  }
  
  div.search-results ul li {
    padding: 5px;
    cursor: pointer;
  }
  
  div.search-results ul li:hover {
    background-color: #f0f0f0;
  }
  
  div.search-results a.osm-link {
    display: none;
  }
  
  div.search-results ul li:last-child {
    display: none;
}

/* SearchBar.css */

.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
  margin-top: 10px;
}

.ol-search-complete {
  list-style: none;
  padding: 0;
}

.ol-search-complete li {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.ol-search-complete li:last-child {
  border-bottom: none;
}

.ol-search-complete li:hover {
  background-color: #e9e9e9;
}

  